{% extends "./base.html"%} {% block contenido %}
<div class="container">
  <h2 class="text-center mb-4 py-2">¿Quiénes Somos?</h2>
  <p class="lead text-center">OnlyFlans es más que una pastelería, es la realización de un sueño familiar que comenzó en 2021 en el corazón de Santiago de Chile. Somos una empresa dedicada a la creación de postres y pasteles de la más alta calidad, con un enfoque especial en nuestro producto estrella: el flan, que da nombre a nuestro negocio.</p>
  <p class="text-center">Ubicados en el encantador barrio de Providencia, a pocos pasos del metro Parque Bustamante, en OnlyFlans nos esforzamos por ofrecer productos que no solo deleiten el paladar, sino que también evoquen momentos de felicidad y disfrute. Cada uno de nuestros postres es elaborado con ingredientes frescos y seleccionados, siguiendo recetas tradicionales que han sido perfeccionadas por nuestra familia a lo largo de los años.</p>
  
  <h3 class="mt-5">Nuestra Historia</h3>
  <p>Nacimos como una pequeña empresa familiar con un gran amor por la pastelería. Desde el principio, nuestro objetivo ha sido brindar a nuestros clientes productos que reflejen nuestra pasión por el buen sabor y la calidad. Aunque somos una empresa de reciente creación, hemos trabajado arduamente para establecer una reputación sólida en la comunidad, basándonos en la excelencia y la dedicación.</p>
  
  <h3 class="mt-5">Nuestra Misión</h3>
  <p>En OnlyFlans, creemos que cada postre cuenta una historia y crea una experiencia memorable. Nuestra misión es continuar expandiendo nuestro alcance, ofreciendo tanto productos clásicos como innovaciones especiales para nuestros clientes. Queremos ser reconocidos no solo por nuestros deliciosos flanes, sino también por nuestro compromiso con la calidad y el servicio al cliente.</p>
  
  <h3 class="mt-5">Nuestro Compromiso</h3>
  <p>Nos dedicamos a la satisfacción de nuestros clientes. Es por eso que, además de nuestra selección de postres disponibles para todo el público, ofrecemos productos exclusivos para nuestros usuarios registrados, con la intención de crear una comunidad fiel de amantes del buen postre. En el futuro, esperamos poder ofrecer también la venta en línea, para que todos puedan disfrutar de OnlyFlans desde la comodidad de su hogar.</p>
</div>
{% endblock %}
